doctype html
html
  head
    meta(charset='UTF-8')
    title Aran Long - Hacker, Maker, Comp Sci
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  body
    header.header.centred
      .container
        img.logo(src='/logo.png')
        h1 ARAN LONG
        a(href='https://aran.site/resume') RESUME
        a  |   
        a(href='https://blog.aran.site') BLOG
        a  |   
        a(href='#contact') CONTACT
    section#projects.projects.centred
      .container
        .project
          h1 PROJECTS
        .project
          h2 HYPER CERTS
          p BLOCKCHAIN BACKED CERTIFICATIONS
        hr
        .project
          a(href='http://blog.aran.site/cisco/')
            h2 PERMISSION CLOUD
          p BLOCKCHAIN BASED IOT SECURITY
        hr
        .project
          a(href='https://github.com/aranscope/github-cards')
            h2 GITHUB CARDS
          p PAIN FREE CARDS FOR GH REPOS
        hr
        .project
          a(href='http://blog.aran.site/hackathon-nightmares/')
            h2 NOTIFI.CLICK
          p NO-COST HARDWARE NOTIFICATIONS
    section#contact.contact.centred
      .container
        h1 CONTACT
        .contact-details
          p TEL: +447933 282564
          p EMAIL: hello@aran.site
          p WEB: https://aran.site
          br
          p
            a.button(href='mailto:hello@aran.site') EMAIL
            |  OR 
            a.button(href='https://twitter.com/intent/tweet?screen_name=aranscope') TWEET
    footer#footer
      a Copyright © Aran Long
      a(href='https://github.com/aranscope/aran.site')  - Github Source
